.title.card
  %h1
    %blockquote 
      %span.highlight We are 
      what we repeatedly do. 
      %br
      %span.highlight Excellence
      , then, is not an act, but a habit.
    %p.source - Aristotle
.button.card
  Login
