// Fonts
$OpenSans: 'Open Sans', sans-serif;
$CrimsonText: 'Crimson Text', serif;

// Colors
$seashell: #f1f1f1;
$flamenco: #ff740a;
$geraldine: #f9b4b4;
$red-berry: #8f0000;
$reef: #c5ffad;
$japanese-laurel: #288f00;
