// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'constants';

.card {
  width: 100%;
  height: 100%;
  h1 {
    position: absolute;
    top: 20%;
    left: 10%;
  }
  &.title {
    background-image: image-url('root/aristotle.jpg');
    background-size: cover;
    color: #fff;
  }
  blockquote {
    font-size: 2.5em;
    font-family: $CrimsonText;
    line-height: 1.0em;
  }
  p.source {
    text-align: right;
    font-size: 1.3em;
    text-transform: uppercase;
    font-family: $Yanone;
    letter-spacing: 6px;
  }
}
