// Place all the styles related to the session controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'constants';

*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
}

blockquote, h1 {
  margin: 0;
}

.table-container {
  height: 100%;
  width: 100%;
  .stylish-form {
    width: 20%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    input {
      width: 100%;
      height: 35px;
      background-color: $seashell;
      border: none;
      border-radius: 2px;
      padding-left: 10px;
    }
    ::-webkit-input-placeholder {
      text-transform: uppercase;
      font-size: 1.1em;
      font-family: $OpenSans;
    }
    &.signup {
      width: 35%;
      .field {
        &:nth-of-type(2) {
          float: left;
        }
        &:nth-of-type(3) {
          float:right;
        }
        &.first-name, &.last-name {
          width: 49%;
        }
      }
    }
  }
}

.field.login {
  button {
    font-family: $OpenSans;
    height: 35px;
    width: 100%;
    border: none;
    text-transform: uppercase;
    border-radius: 3px;
    font-size: 0.8em;
    color: #fff;
    background-color: $flamenco;
  }
}

.flash {
  margin-bottom: 10px;
  padding-left: 10px;
  height: 35px;
  padding-top: 8px;
  border-radius: 3px;
  font-size: 0.8em;
  font-family: $OpenSans;
  &.alert {
    background-color: $geraldine;
    color: $red-berry;
  }
  &.notice {
    background-color: $reef;
    color: $japanese-laurel;
  }
}
