= form_for [current_user, @goal, @prize] do |f|
  .field
    = f.text_field :name, placeholder: 'Name of Prize'
  .field
    - if action_name === 'new'
      = f.submit 'Create Prize', id: 'save-prize'
    - else
      = f.submit 'Update Prize', id: 'save-prize'
